li{
    list-style-type: none;
}
ul.control{
    overflow: hidden;
}
ul.control li{
    float: left;
    margin-right: 10px;
    background-color: #eaeaea;
    border-radius: 7px;
    transition: all 0.3s;
    width: 70px;
    height: 25px;
    padding: 5px;
    text-align: center;
    display: inline-block;
}
ul.control li:hover{
    background-color: #eaeaeaa9;
}
ul.control li:hover > a{
    font-weight: bold;
}
ul.control li:hover > input{
    font-weight: bold;
}
ul.control li a{
    text-decoration: none;
    color: #000;
}
ul.control li input[type="button"]{
    background: none;
    border: none;
    font-size: 15px;
    cursor: pointer;
}